@forward 'theme';
@forward 'components';
@forward 'layout';
@forward 'utils/fast-animations';
@forward 'utils/color-override';
@forward 'utils/animations';
@forward 'utils/component-animations';

* {
  font-family: var(--font-outfit), 'Outfit', sans-serif !important;
}

body, html {
  font-family: var(--font-outfit), 'Outfit', sans-serif !important;
  scroll-behavior: smooth;
}